
.wrap{
    width: 60%;
    margin: 0 auto;
}

.header{
    margin: 2vw 0;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    background-color: tomato;
    color: #fff;
    padding: 1vw;
}

.mein-text{
    text-align: center;
    margin: 2vw;
    font-size: 2vw;
}

.sub-text{
    margin: 2vw 0;
    font-size: 1.5vw;
}

.member{
    margin: 1vw;
    font-size: 1.3vw;
}